/* Add this CSS to your component's stylesheet or a global stylesheet */
.scrollbar-hidden {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}